.mainContactos {
  justify-content: center;
}

.form-control:focus {
  box-shadow: 1px 5px 0 $color-verde;
}

.botonForm {
  background-color: $color-rojo2;

  &:hover {
    box-shadow: 4px 1px 0 #000000;
    background-color: $color-rojo2;

    &:focus {
      background-color: $color-verde;
    }
  }
}
.quienesSomos__Todocer {max-width: 20rem; max-height: 25rem; object-fit: cover;}
.quienesSomosCaja {
  
  margin: 2px;
  background-color: $color-cajaRecetas; 
  border-radius: 10px;
  p {font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}
}

.quienessomos__muchasGracias {
  font-weight: bold;
  font-size: 30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}