.mainContactos {
  justify-content: center;
}

.form-control:focus {
  box-shadow: 1px 5px 0 $color-verde;
}

.botonForm {
  background-color: $color-rojo2;

  &:hover {
    box-shadow: 4px 1px 0 #000000;
    background-color: $color-rojo2;

    &:focus {
      background-color: $color-verde;
    }
  }
}

.quienesSomos {
  @include aljust;
  margin: 2px;
  background-color: $color-cajaRecetas;
  border-radius: 10px;
  display: grid;
  grid-template-areas: "quienesSomos__img1 quienesSomos__parrafo1" "quienesSomos__parrafo2 quienesSomos__img1" "quienesSomos__img1 quienesSomos__parrafo1"
}

object-fit: cover;
max-width: 100%;
max-height: 100%;


.quienessomos__muchasGracias {
  grid-area: quienesSomos__muchasGracias;
  font-weight: bold;
  font-size: 30px;
}