* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-size: 20px;
    font-family: RifficFreeBold;
  }
main {min-height: 80vh;}
.index__background {background: linear-gradient(to bottom, #D6DADB,#A4BA34, #BF8B4B);}

body {background-image: url(../imgs/maderaNegraFondo.jpg);}

