@font-face {
    font-family: RifficFreeBold;
    src: url(../fonts/RifficFree-Bold.ttf);
}

@mixin fuenteriffic {
    font-family: rifficFreeBold;
}

@mixin listas {
    list-style: none;
    text-decoration: none;
}

@mixin aljust {
    justify-content: center;
    align-items: center;
}
@mixin letra-institucional {font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}

$color-rojo: rgb(243, 6, 6, 0.8);
$color-rojo2: rgb(243, 6,6);
$color-rojo3: rgb(231, 3, 3);
$color-verde: rgb(13,189,7);
$letrablanca: rgb(240, 248, 255);
$color-cajaRecetas: rgb(207, 152, 85);
$color-rojizo: rgb(128, 45, 45) 5px;


